@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthState
@using Microsoft.AspNetCore.Components.Authorization    


<AuthorizeView>
    <Authorized>
        <button @onclick="Logout">Logout</button>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Login</a>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity?.Name!</p>
        <p>
            Your role:
            @string.Join(", ", context.User.Claims
                        .Where(c => c.Type == "role")
                        .Select(c => c.Value))
        </p>
    </Authorized>
    <NotAuthorized>
        <p>You are not logged in.</p>
    </NotAuthorized>
</AuthorizeView>



<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        ((AuthStateProvider)AuthState).NotifyUserLogout();
        Nav.NavigateTo("/login", forceLoad: true);
    }
}